/* general */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position:relative
}  
header{
    background-color: #003a74;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}   
.row{
   margin: 0;
} 

.conainer-fluid{
    padding: 0;

}
.btn-primary{
    background-color: #034a92;
    border: 2px solid #022a52;
}
.btn-primary:hover{
    background-color: #022a52;
    border-color: #034a92;
} 
.msg{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #013101;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    text-align: center;

}
/* navbar */

#navbar img{
    width: 40px;
    justify-content: space-between;
    background-color: rgb(6, 23, 177);
    padding:5px 0;

   
    
}
#navbar a{
    color: rgb(87, 145, 211);
    font-weight: 100px;
    font-size: 32px;

}
#navbar a:hover{
    color: rgb(27, 37, 63);
    text-decoration: none;
}
/* search container */
#search-container{
    background-image: url('../img/imagempngevento.jpg');
    margin: 30px 0;
   background-position: center;
    background-size: cover;
    height: 400px;
    padding: 50px;
    text-align: center;

}
#search-container h1{
    color: rgb(211, 208, 208);
    font-weight: 900;
    margin-bottom: 30px;
}
#search-container form{
    width: 50%;
    margin: 0 auto;

}
/* events list */
#events-container{
    padding: 50px;

}
#events-container h2{

    margin-bottom: 20px;
}
#events-container .subtitle{
    color: #666;
    margin-bottom: 40px;
}
#cards-container .card{
    flex: 1  1 24%;
    max-width:25% ;
    border-radius: 5px;
    margin: 0.5%;
    padding: 10px;
   


}
#events-container  img{
   max-height: 240px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;

    border-radius: 5px;

}
.card .card-date{
    font-size: 14px;
    color: #666;
}
.card .card-title{
    color: #232342;
    font-size: 18px;
   
    font-weight: bold;
    margin-bottom: 30px;

}
.card-participants{
    font-size: 14px;
    color: #3a5eff;
}
/* footer */
footer{
    background-color: #434444;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 30px;

}
footer p{
    margin: 0;
}
/* event create page*/
#event-create-container{
    width: 50%;
    margin: 0 auto;
    padding: 20px;

}
#event-create-container label{
   font-weight: bold;



}
#event-create-container input, #event-create-container textarea, #event-create-container select{
   font-size: 12px;


}
/* event  page */
#image-container, #info-container{

    margin-top: 30px;

}
#image-container img{
    width: 100%;
    border-radius: 10px;

}
#info-container h1{
    font-size: 40px;
    font-weight: 900;


}
#info-container p{
    font-size: 18px;
    margin-top:0px;
    display: flex;


}
#info-container h3 ,#description-container h3{
  font-size: 20px;
  font-weight: bold;

}
#info-container ion-icon{
    font-size: 20px;
    color: #034a92;
    margin-right: 8px;
    


}

